.page-project {
	.project {
		.p-title {
			margin-bottom: 0;
		}

		.type {
			margin-bottom: 0rem;
		}

		.p_tags {
			margin-top: 0;
			margin-bottom: 1rem;
		}

		section.sub-description {
			margin-bottom: 1rem;

			h2.subtitle {
				margin-bottom: 0.5rem;
			}
		}
	}
}
