main {
	word-wrap: break-word;
	width: 100%;
	@media (min-width: 992px) {
		.page {
			max-width: 45vw;
			margin: auto;
			text-align: center;
		}
	}

	@media (max-width: 991px) {
		.page {
			max-width: 100vw;
			margin: auto;
			text-align: center;
		}
	}
}
