html,
body {
	color: #424242;
	font-family: $family-serif;
}

body .container-all {
	display: grid;
	place-items: center;
}

.container {
	max-width: 100vw;
}

pre {
	font-family: $family-monospace-code;
	background-color: $body-background-color;
}

.button {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#space-top {
	height: 3rem;
}

#space-bottom {
	height: 5rem;
}
